.div_faceid{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        text-align: center;
        font-weight: lighter;
        margin-bottom: .5rem;
    }
    video{
        width: 100%;
        height: auto;
    }
    button{
        margin-top: 1rem;
        width: 100%;
        border-radius: .5rem;
    }
}